NEXT_PUBLIC_API_URL=https://khabiteq-realty.onrender.com/api
NEXT_PUBLIC_GOOGLE_CLIENT_ID=575717025883-frmqu7vi6d8oe796k2hgj2s8iil86839.apps.googleusercontent.com 
NEXT_PUBLIC_FACEBOOK_APP_ID=695249436413365
  